* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding: 20px;
}

.status-indicator {
    display: flex;
    align-items: center;
    gap: 5px;
}

header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.status-indicator .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.status-indicator.connected .dot {
    background: #52d156;
}

.status-indicator.disconnected .dot {
    background-color: #d4372c;
    animation: none;
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    align-items: start;
}

.svg-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg-container {
    width: 100%;
    max-width: 450px;
}

.tables-panel {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.anomaly-log {
    max-height: 300px;
    overflow-y: auto;
}

.anomaly-log table {
    width: 100%;
    border-collapse: collapse;
}

.anomaly-log th, .anomaly-log td {
    padding: 6px, 8px;
    font-size: 13px;
    text-align: right;
}


table {
    border-collapse: collapse;
} 

td, th {
    border: 1px solid;
    padding: 5px 6px;
}

td {
    text-align: center;
} 

@media (max-width: 900px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .svg-panel {
        order: 1;
    }

    .tables-panel {
        order: 2;
    }
}