<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Radxa Zero 3W Monitor</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>radxa zero 3w system monitor</h1>
                <div class="status-indicator" id="connection-status">
                    <span class="dot"></span>
                </div>
            </header>

            <div class="content">
                <div id="svg-container">
                    <svg id="board-frame"></svg>
                </div>

                <div class="metrics-panel">
                    <table id ="metric-table">
                        <h2>metrics<h2>
                        <tr>
                            <th>cpu usage</th>
                            <th>temperature</th>
                            <th>ram usage</th>
                            <th>ram cached</th>
                        </tr>
                        <tr>
                            <td id="cpu-value">-</td>
                            <td id="temp-value">-</td>
                            <td><span id="ram-value">-</span> (<span id="ram-used">-</span>/<span id="ram-total">-</span>)</td>
                            <td id="ram-cached">-</td>
                        </tr>
                    </table>

                    <table id="anomaly-table">
                        <h2>anomalies</h2>
                        <tr>
                            <th>time</th>
                            <th>cpu usage</th>
                            <th>temperature</th>
                            <th>ram usage</th>
                            <th>ram cached</th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <script src="../static/monitor.js"></script>
    </body>
</html>